/* Página cadastroUsua.html e cadastroProf.html*/
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  padding: 30px;
  box-sizing: border-box;
  border: 5px solid #0e97a5;
  border-radius: 0px 35px;
}
h2 {
  text-align: center;
}
#btnProximo {
  margin-left: 11%;
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}
input[type="text"],
input[type="password"],
input[type="number"],
select,
textarea {
  border-radius: 2px;
  border: solid 1px;
  width: 100%;
}
input[type="text"],
input[type="password"],
input[type="number"],
select {
  height: 2em;
  border-top: 2px solid #0e97a5;
  border-bottom: 2px solid #0e97a5;
  border-left: 2px solid #0e97a5;
  border-right: 2px solid #0e97a5;
}
textarea{
  border-top: 2px solid #0e97a5;
  border-bottom: 2px solid #0e97a5;
  border-left: 2px solid #0e97a5;
  border-right: 2px solid #0e97a5;
}
input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  select, textarea {
  border-top: 2px solid #20b6b9;
  border-bottom: 2px solid #20b6b9;
  border-left: 2px solid #20b6b9;
  border-right: 2px solid #20b6b9;
}
#btnSalvar{
  margin-left: 11%;
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}
#btnContinuar{
  margin-left: 11%;
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}
#btnFinalizar{
  margin-left: 11%;
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}
::-webkit-input-placeholder {
   color: black; /* cor do placeholder*/
}