.box {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 350px;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid #0e97a5;
  border-radius: 0px 35px;
}
#logo{
  width: 45%;
  margin-left: 27%;
  margin-top: 10%;
}
h2 {
  text-align: center;
}
#btnProximo {
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}
input[type="text"],
input[type="password"],
input[type="number"],
select,
textarea {
  border-radius: 2px;
  border: solid 1px;
  width: 100%;
}
input[type="text"],
input[type="password"],
input[type="number"],
select {
  height: 2em;
  border-top: 2px solid #0e97a5;
  border-bottom: 2px solid #0e97a5;
  border-left: 2px solid #0e97a5;
  border-right: 2px solid #0e97a5;
}
textarea{
  border-top: 2px solid #0e97a5;
  border-bottom: 2px solid #0e97a5;
  border-left: 2px solid #0e97a5;
  border-right: 2px solid #0e97a5;
}
input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  select, textarea {
  border-top: 2px solid #20b6b9;
  border-bottom: 2px solid #20b6b9;
  border-left: 2px solid #20b6b9;
  border-right: 2px solid #20b6b9;
}
#btnSalvar{
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}
#btnCancelar{
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}
#btnContinuar{
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}
#btnVolt{
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}
#btnFinalizar{
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}
::-webkit-input-placeholder {
   color: black; /* cor do placeholder*/
}
.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 40px;
  height:40px;
  margin-top: 1%;
  margin-left: 10%;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: left;
  bottom: 0;
  width: 180%;

}
#nomeprof{
  margin-top: 1%;
  margin-left:-15%;
}
