/**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: #a4719f;
}

body{
    overflow-x: hidden;
}

/*Boot CSS*/
.clear{clear: both;}
.center{padding: 0 2%; margin: 0 auto;}

.w100{
    width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}
/* Fim CSS */

/* Menu Superior */

header{
    position: relative;
    left: 300px;    
    padding: 10px 0;
    height: 45px;
    background: linear-gradient(to right, #9d6c9e, #da9ba6);
    width: calc(100% - 300px);
}
/* Fim do Menu Superior */

/* Menu Lateral */

div.menu-wrapper{width: 300px;}
div.menu{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: linear-gradient(45deg, #e38069, #9d6c9e);
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    padding: 10px;
}

.menu-btn{
    float: left;
    cursor: pointer;
    font-size: 23px;
    color: white;
}

#user{
  font-size: 80px;
  margin-top: 5%;
  margin-left: 28%;
}

#btn{
  background-color: transparent;
  border-color: transparent;
}

#hr{
  border-color: black;
}
/* Fim do Menu Lateral */

/* Conteudo app css*/
.content{
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}

.box-content{
    padding: 10px;
    margin-bottom: 10px;
}

/* Botões e icones do meio */
#b1{
  height: 90px;
  margin-top: 100%;
  background-color: transparent;
  border-color: #C71585;
  border-radius: 10px 30px;
}

#b2{
  height: 90px;
  margin-top: 100%;
  background-color: transparent;
  border-color: #C71585;
  border-radius: 30px 10px;
}

#b3{
  height: 90px;
  background-color: transparent;
  border-color: #C71585;
  border-radius: 30px 10px;
}

#b4{
  height: 90px;
  background-color: transparent;
  border-color: #C71585;
  border-radius: 10px 30px;
}

#icon{
  font-size: 30px;
}

/* Fim do Conteudo app css*/






/* Se tela for menor que 768 */
@media screen and (max-width: 768px){
    .menu{
        display: none;
    }
    .content{
        width: 100%;
        left: 0;
    }
    header{
        left: 0;
        width: 100%;
    }
}
/* Fim*/

/* Se tela for menor que 400 */
@media screen and (max-width: 400px){
    div.menu-wrapper{
        width: 180px;
    }
    .menu{
        width: 200px;
    }
}