/**/
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    overflow-x: hidden;
}
#logo{
  width: 45%;
  margin-left: 27%;
}
.pesquisa{
  width: 400px;
  height: 40px;
}
#texto{
  width: 285px;
  height: 40px;
  float: left;
  font-size: 18px;
  background-color: transparent;
  border-color: #0e97a5;
  border-radius: 5px;
}
.btn{
  width: 50px;
  height: 40px;
  background-color: #0e97a5;
  padding: 5px 10px;
  cursor: pointer;
}
/*Boot CSS*/
.clear{clear: both;}
.center{padding: 0 2%; margin: 0 auto;}

.w100{
    width: 100%;
}
.left{
    float: left;
}
.right{
    float: right;
}
/* Fim CSS */

/* Menu Superior */
header{
    position: relative;
    left: 300px;    
    padding: 10px 0;
    height: 45px;
    background-color: #20b6b9;
    width: calc(100% - 300px);
}
/* Fim do Menu Superior */

/* Menu Lateral */
div.menu-wrapper{width: 300px;}
div.menu{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: linear-gradient(to top, #c8d8e7, #e7e9eb, #e7e9eb);
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    padding: 10px;
}
.menu-btn{
    float: left;
    cursor: pointer;
    font-size: 23px;
    color: white;
}
#user{
  font-size: 80px;
  margin-top: 5%;
  margin-left: 28%;
}
#btn{
  background-color: transparent;
  border-color: transparent;
}
#hr{
  border-color: black;
}
/* Fim do Menu Lateral */

/* Conteudo app css*/
.content{
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}
.box-content{
    padding: 10px;
    margin-bottom: 10px;
}
/* Botões e icones do meio */
h4{
  text-align: center;
}
#b1{
  height: 90px;
  margin-top: 20%;
  background-color: transparent;
  border-color: #0e97a5;
  border-radius: 10px 30px;
  color: #0e97a5;
}
#b2{
  height: 90px;
  margin-top: 20%;
  background-color: transparent;
  border-color: #0e97a5;
  border-radius: 30px 10px;
  color: #0e97a5;
}
#b3{
  height: 90px;
  background-color: transparent;
  border-color: #0e97a5;
  border-radius: 30px 10px;
  color: #0e97a5;
}
#b4{
  height: 90px;
  background-color: transparent;
  border-color: #0e97a5;
  border-radius: 10px 30px;
  color: #0e97a5;
}
#b5{
  height: 90px;
  background-color: transparent;
  border-color: #0e97a5;
  border-radius: 10px 30px;
  color: #0e97a5;
}
#b6{
  height: 90px;
  background-color: transparent;
  border-color: #0e97a5;
  border-radius: 30px 10px;
  color: #0e97a5;
}
#icon{
  font-size: 27px;
}
#btn {
  color: black;
}
/* Meu Perfil USUÁRIO*/
input[type="text"],
input[type="password"],
input[type="number"] {
  border-radius: 2px;
  border: solid 1px;
  width: 100%;
}
input[type="text"],
input[type="password"],
input[type="number"] {
  height: 2em;
  border-top: 2px solid #0e97a5;
  border-bottom: 2px solid #0e97a5;
  border-left: 2px solid #0e97a5;
  border-right: 2px solid #0e97a5;
}

#btnSalvar, #btnConta, #btnContatar, #editar, #editarServ, #salvarServ, #btnEditar, #salvarEdit {
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
}

#fechaSenha, #sairModal, #btnExcluir, #btnServico, #btnVoltar {
  background: linear-gradient(to right, #106770, #23929e);
  border: none;
  color: white;
  text-decoration: none;
}

#fechaSenha {
  background: linear-gradient(to right, #106770, #23929e);
  border: none;
  color: white;
  text-decoration: none;
  width: 22%;
}

#alteraSenha{
  background: linear-gradient(to right, #0e97a5, #20b6b9);
  border: none;
  color: white;
  text-decoration: none;
   width: 22%;
}


#s1{
  margin-top:10%;
  }
  #j1{
  margin-top:8%;
  margin-left: -60%;
  }
#foto{
  margin-left: 35%;
}
#prof{
  margin-left: 35%;
}
h3, h5{
  text-align: center;
}
#altera{
  margin-left: 34%;
}

.box{
  border: 2px solid #20b6b9;
  padding: 10px;
}
/* Fim do Conteudo app css*/

/* Se tela for menor que 768 */
@media screen and (max-width: 768px){
    .menu{
        display: none;
    }
    .content{
        width: 100%;
        left: 0;
    }
    header{
        left: 0;
        width: 100%;
    }
}
/* Fim*/

/* Se tela for menor que 400 */
@media screen and (max-width: 400px){
    div.menu-wrapper{
        width: 180px;
    }
    .menu{
        width: 200px;
    }
}

/*imagens dos icones*/
.circle {
  background-color: #e7e9eb;
  border-radius: 50%;
  width: 100px;
  height:100px;
  margin-top: 1%;
  margin-left: 34%;
  overflow: hidden;
  position: relative;
}
.circle img {
  position: center;
  bottom: 0;
  width: 100px;
  height:100px;
}

/* .circleicon {
  background-color: #aaa;
  border-radius: 50%;
  width: 70px;
  height:70px;
  margin-top: 3%;
  margin-left: 34%;
  overflow: hidden;
  position: relative;
} */
/* .circleicon img {
  position: absolute;
  bottom: 0;
  width: 100px;

} */
.circleusu {
  background-color: #aaa;
  border-radius: 50%;
  width: 70px;
  height:70px;
  margin-top: 10%;
  margin-left: 34%;
  overflow: hidden;
  position: relative;
}
.circleusu img {
  position: center;
  bottom: 0;
   width: 100px;
  height:100px;
}
.perfil {
  background-color: #aaa;
  border-radius: 50%;
  width: 100px;
  height:100px;
  margin-top: 1%;
  margin-left: 34%;
  overflow: hidden;
  position: relative;
}
.perfil img {
  position: absolute;
  bottom: 0;
  width: 100px;

}


#imgModal{
  width: 50%;
}

#modal{
  background-color: #e7e9eb;

}
#modal-dentro{
  background-color: #f1f1f1;

}
.senhaModal{
 margin-left: 25%;
}