/*index.html*/
#jum{
  margin-top: 40%;
  background-color: transparent;
  box-shadow: 5px -5px 5px 2px rgb(143, 142, 142);/*sombreamento jumbotron*/
}
h2 {
  text-align: center;
}
#btnEntrar {
  margin-left: 11%;
  background-image: linear-gradient(to right, #C71585, #9932CC);
  border: none;
}

#cadastra {
  margin-left: 11%;
  background-color: transparent;
  color: white;
  border-color: #C71585;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(41, 41, 41);
  height: 40px;
  padding-left: 32px;
}

input[type = "text"]:focus,
input[type = "password"]:focus{
  border-bottom: 2px solid #9932CC;
}

.inputIcon{
  position: relative;
}

.inputIcon i{
  position: absolute;
  left: 0;
  top: 7px;
  padding: 5px;
}
.inputIcon input[type = "text"]:focus + i{
  color: #C71585;
}
.inputIcon input[type = "password"]:focus + i{
  color: #C71585;
}
::-webkit-input-placeholder {
   color: black; /* cor do placeholder*/
}
/*inicial.html*/
#logo{
  width: 40%;
}