/*index.html*/
#body{
  background-color: rgb(243, 243, 243);
}

#jum{
  margin-top: 40%;
  background-color: white;
  box-shadow: 5px -5px 5px 2px rgb(107, 106, 106);/*sombreamento jumbotron*/
}
h2 {
  text-align: center;
}
#btnEntrar {
  margin-left: 11%;
}
#cadastra {
  margin-left: 11%;
  background-color: transparent;
  color: rgb(104, 176, 218);
}
input[type="text"],
input[type="password"] {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(41, 41, 41);
  height: 40px;
  padding-left: 32px;
}

input[type = "text"]:focus,
input[type = "password"]:focus{
  border-bottom: 2px solid #68b0da;
}

.inputIcon{
  position: relative;
}

.inputIcon i{
  position: absolute;
  left: 0;
  top: 7px;
  padding: 5px;
}
.inputIcon input[type = "text"]:focus + i{
  color: #68b0da;
}
.inputIcon input[type = "password"]:focus + i{
  color: #68b0da;
}

/*inicial.html*/
#logo{
  width: 40%;
}