/*http://www.linhadecodigo.com.br/artigo/3633/entendendo-o-atributo-box-shadow-nas-css3.aspx*/
#body{
  background-color: rgb(243, 243, 243);
}
#jum{
  background-color: rgb(196, 196, 196);
  box-shadow: 5px -5px 5px 2px rgb(107, 106, 106);/*sombreamento jumbotron*/
}
#logo {
  width: 50%;
}
h2 {
  text-align: center;
}
#btnEntrar {
  margin-left: 11%;
}
#cadastra {
  margin-left: 11%;
  background-color: transparent;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(41, 41, 41);
  height: 40px;
}

input[type="text"]:focus,
input[type="password"]:focus{
  border-bottom: 2px solid rgb(115, 168, 218);
}